<!DOCTYPE html>
<html>
  <head>
    <title>Application Binding</title>
  </head>
  <body>
    <p>Hi <%= user.name %>!</p>
    <p><b><%= client.name %></b> is requesting access to your account.</p>
    <p>Do you approve?</p>

    <p>Warehouse : <%= domain.subdomain %></p>
    <p>Scopes : <%= req.scope instanceof Array ? req.scope.join(',') : req.scope %></p>
    <p>Application Client ID : <%= req.clientID %></p>
    <p>Redirect URI : <%= redirectURI %></p>
    <p>State : <%= req.state %></p>

    <form action="/admin/oauth/decision" method="POST">
      <input name="transaction_id" value="<%= transactionID %>" hidden />
      <input name="scope" value="<%= req.scope %>" hidden />
      <input name="warehouse" type="text" value="<%= domain.subdomain %>" hidden />

      <input type="submit" value="Allow" id="allow" />
      <input type="submit" value="Deny" name="cancel" id="deny" />
    </form>
  </body>
</html>
