<!DOCTYPE html>
<html>
  <head>
    <title>Application Binding Error</title>
  </head>
  <body>
    <p>Hi <%= user.name %>!</p>
    <p><b>Application Not Found</b></p>
    <p>You better check you give a correct client id (appKey)</p>
    <p>scopes : <%= req.scope instanceof Array ? req.scope.join(',') : req.scope %></p>

    <form action="/admin/oauth/decision" method="POST">
      <input name="transaction_id" value="<%= transactionID %>" />
      <input name="warehouse" type="text" value="<%= domain.subdomain %>" />
      <input name="application ID" type="text" value="<%= req.clientID %>" />
      <input name="redirectURI" type="text" value="<%= redirectURI %>" />

      <div>
        <input type="submit" value="Deny" name="cancel" id="deny" />
      </div>
    </form>
  </body>
</html>
