<!DOCTYPE html>
<html>
  <head>
    <title>Application Binding Error</title>
  </head>
  <body>
    <p>Hi <%= user.name %>!</p>
    <p><b>Application Not Found</b></p>
    <p>You better check you give a correct client id (appKey)</p>

    <p>Warehouse : <%= domain.subdomain %></p>
    <p>Scopes : <%= req.scope instanceof Array ? req.scope.join(',') : req.scope %></p>
    <p>Application Client ID : <%= req.clientID %></p>
    <p>Redirect URI : <%= redirectURI %></p>
    <p>State : <%= req.state %></p>

    <form action="/admin/oauth2/decision" method="POST">
      <input name="transaction_id" value="<%= transactionID %>" hidden />
      <input name="subdomain" type="text" value="<%= domain.subdomain %>" hidden />
      <input name="appKey" value="<%= req.clientID %>" hidden />
      <input name="scope" value="<%= req.scope %>" hidden />
      <input name="state" type="text" value="<%= req.state %>" hidden />
      <input name="email" type="text" value="<%= user.email %>" hidden />

      <input type="submit" value="Deny" name="cancel" id="deny" />
    </form>
  </body>
</html>
